<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Compromissos</title>
</head>
<body>
<h1>Compromissos</h1>
<ul>
    <li><a href="/ui/compromissos/listarcompromissosdodia/{dia}">Listar compromissos do dia</a></li>
    <li><a href="/ui/compromissos/listarcompromissosdasemana/{dia}">Listar compromissos da semana</a></li>
    <li><a href="/ui/compromissos/criarcompromisso">Cadastrar compromisso</a></li>
    <li><a href="/ui/menu">Voltar ao menu principal</a></li>
</ul>
</body>
</html>
